body
{
    background-color:rgb(60,60,80);
}

#interfaceBtn
{
    position:absolute;
    left:20px;
    top:20px;
    display:inline;
    border:1px solid rgb(200,200,255);
    border-radius:4px;
    height:24px;
    width:32px;
    padding:0;
    a,a:link,a:visited,a:active
    {
        background-color:rgba(190,190,190,0.2);
        display:block;
        float:left;
        width:100%;
        height:100%;
    }
    a:hover
    {
        background-color:rgba(190,190,190,0.5);
    }
}

#interface
{
    background-color:rgb(110,120,160);
    width:320px;
    padding:10px;
    height:100%;
    font-family:n8;
    border-right:1px solid rgb(65,70,90);
}

#interface > div
{
    border:1px solid rgb(65,70,90);
    border-bottom-width: 4px;
    width:298px;
    background-color:rgb(130,140,180);
    margin-bottom:10px;
}